In [ ]:
import os

### CR-ILD / RTE

In [ ]:
y = [[] for _ in range(3)]

for seed in range(3):
    file = open('./output/standard_glue_truncated_bert/CRILD/RTE/seed{}/3e-5/eval_results_kd.txt'.format(seed+42), 'r')
    lines = file.readlines()
    for line in lines:
        if 'acc' in line and 'tr' not in line:
            y[seed].append(float(line.split('=')[-1]))
            
seed0, seed1, seed2 = max(y[0]), max(y[1]), max(y[2])
print ("RESULTS: {} ({}, {}, {})".format(round((seed0 + seed1 + seed2) / 3 * 100, 2),
                                         round(seed0 * 100, 2), 
                                         round(seed1 * 100, 2), 
                                         round(seed2 * 100, 2)))

### TinyBERT / RTE

In [3]:
y = [[] for _ in range(3)]

for seed in range(3):
    file = open('./output/standard_glue_truncated_bert/TinyBERT/RTE/seed{}/3e-5/eval_results_kd.txt'.format(seed+42), 'r')
    lines = file.readlines()
    for line in lines:
        if 'acc' in line and 'tr' not in line:
            y[seed].append(float(line.split('=')[-1]))
            
seed0, seed1, seed2 = max(y[0]), max(y[1]), max(y[2])
print ("RESULTS: {} ({}, {}, {})".format(round((seed0 + seed1 + seed2) / 3 * 100, 2),
                                         round(seed0 * 100, 2), 
                                         round(seed1 * 100, 2), 
                                         round(seed2 * 100, 2)))

RESULTS: 56.08 (57.04, 56.68, 54.51)

### BERT-EMD / RTE

In [4]:
y = [[] for _ in range(3)]

for seed in range(3):
    file = open('./output/standard_glue_truncated_bert/EMD/RTE/seed{}/3e-5/eval_results_kd.txt'.format(seed+42), 'r')
    lines = file.readlines()
    for line in lines:
        if 'acc' in line and 'tr' not in line:
            y[seed].append(float(line.split('=')[-1]))
            
seed0, seed1, seed2 = max(y[0]), max(y[1]), max(y[2])
print ("RESULTS: {} ({}, {}, {})".format(round((seed0 + seed1 + seed2) / 3 * 100, 2),
                                         round(seed0 * 100, 2), 
                                         round(seed1 * 100, 2), 
                                         round(seed2 * 100, 2)))

RESULTS: 66.79 (65.7, 67.51, 67.15)

### Patient KD / RTE

In [5]:
y = [[] for _ in range(3)]

for seed in range(3):
    file = open('./output/standard_glue_truncated_bert/PKD/RTE/seed{}/3e-5/eval_results_kd.txt'.format(seed+42), 'r')
    lines = file.readlines()
    for line in lines:
        if 'acc' in line and 'tr' not in line:
            y[seed].append(float(line.split('=')[-1]))
            
seed0, seed1, seed2 = max(y[0]), max(y[1]), max(y[2])
print ("RESULTS: {} ({}, {}, {})".format(round((seed0 + seed1 + seed2) / 3 * 100, 2),
                                         round(seed0 * 100, 2), 
                                         round(seed1 * 100, 2), 
                                         round(seed2 * 100, 2)))

RESULTS: 61.85 (66.79, 55.6, 63.18)

### CR-ILD / CoLA

In [6]:
y = [[] for _ in range(3)]

for seed in range(3):
    file = open('./output/standard_glue_truncated_bert/CRILD/CoLA/seed{}/3e-5/eval_results_kd.txt'.format(seed+42), 'r')
    lines = file.readlines()
    for line in lines:
        if 'mcc' in line and 'tr' not in line:
            y[seed].append(float(line.split('=')[-1]))
            
seed0, seed1, seed2 = max(y[0]), max(y[1]), max(y[2])
print ("RESULTS: {} ({}, {}, {})".format(round((seed0 + seed1 + seed2) / 3 * 100, 2),
                                         round(seed0 * 100, 2), 
                                         round(seed1 * 100, 2), 
                                         round(seed2 * 100, 2)))

RESULTS: 39.93 (38.8, 39.52, 41.46)

### TinyBERT / CoLA

In [7]:
y = [[] for _ in range(3)]

for seed in range(3):
    file = open('./output/standard_glue_truncated_bert/TinyBERT/CoLA/seed{}/3e-5/eval_results_kd.txt'.format(seed+42), 'r')
    lines = file.readlines()
    for line in lines:
        if 'mcc' in line and 'tr' not in line:
            y[seed].append(float(line.split('=')[-1]))
            
seed0, seed1, seed2 = max(y[0]), max(y[1]), max(y[2])
print ("RESULTS: {} ({}, {}, {})".format(round((seed0 + seed1 + seed2) / 3 * 100, 2),
                                         round(seed0 * 100, 2), 
                                         round(seed1 * 100, 2), 
                                         round(seed2 * 100, 2)))

RESULTS: 33.32 (32.67, 34.59, 32.7)

### BERT-EMD / CoLA

In [8]:
y = [[] for _ in range(3)]

for seed in range(3):
    file = open('./output/standard_glue_truncated_bert/EMD/CoLA/seed{}/3e-5/eval_results_kd.txt'.format(seed+42), 'r')
    lines = file.readlines()
    for line in lines:
        if 'mcc' in line and 'tr' not in line:
            y[seed].append(float(line.split('=')[-1]))
            
seed0, seed1, seed2 = max(y[0]), max(y[1]), max(y[2])
print ("RESULTS: {} ({}, {}, {})".format(round((seed0 + seed1 + seed2) / 3 * 100, 2),
                                         round(seed0 * 100, 2), 
                                         round(seed1 * 100, 2), 
                                         round(seed2 * 100, 2)))

RESULTS: 38.53 (40.71, 37.63, 37.24)

### Patient KD / CoLA

In [9]:
y = [[] for _ in range(3)]

for seed in range(3):
    file = open('./output/standard_glue_truncated_bert/PKD/CoLA/seed{}/3e-5/eval_results_kd.txt'.format(seed+42), 'r')
    lines = file.readlines()
    for line in lines:
        if 'mcc' in line and 'tr' not in line:
            y[seed].append(float(line.split('=')[-1]))
            
seed0, seed1, seed2 = max(y[0]), max(y[1]), max(y[2])
print ("RESULTS: {} ({}, {}, {})".format(round((seed0 + seed1 + seed2) / 3 * 100, 2),
                                         round(seed0 * 100, 2), 
                                         round(seed1 * 100, 2), 
                                         round(seed2 * 100, 2)))

RESULTS: 9.75 (6.2, 11.54, 11.51)